body {

    background-color: violet;

}

h1 {

    font-size: 32px;

    padding: 20px;

    border: 3px solid black;

    margin-bottom: 40px;

    text-align: center;
}

h2 {

    font-size: 20px;

    color: navy;
}

section {
    
    background-color: white;
    
    border: solid black;
    
    padding: 20px;

    height: 200px;

}

a {

    color: darkblue

}

p {

    font-size: 12px;
    
}

ul {

    font-size: 12px;
}


footer {

    background-color: black;
    color:white;
    text-align: center;
}


